{% extends "base.html" %}

{% block title %} 
    Add Assignment
{% endblock %}

{% block main %} 
<div class="assignments-answers">
    <div class="assignment-questions">
      <a href="">Download assignment</a>
    </div>
    <form class="post-container">
    <h4 class="question">Question</h4>
    <label for="answer"></label>
    <textarea name="answer" id="answer" cols="70" rows="10"></textarea>
    <input type="file" name="answer-file" id="answer-file">
    <input type="submit" value="Post">
    </form>

    <form class="post-container">
    <h4 class="question">Question</h4>
    <label for="answer"></label>
    <textarea name="answer" id="answer" cols="70" rows="10"></textarea>
    <input type="file" name="answer-file" id="answer-file">
    <input type="submit" value="Post">
    </form>

    <form class="post-container">
    <h4 class="question">Question</h4>
    <label for="answer"></label>
    <textarea name="answer" id="answer" cols="70" rows="10"></textarea>
    <input type="file" name="answer-file" id="answer-file">
    <input type="submit" value="Post">
    </form>
</div>

  {% endblock %}