<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="static/signin.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/footer.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="left-header">
          <h1>
            BU Assignments
          </h1>
        </div>
        <div class="right-header">
            {% if current_user %}
                Welcome, {{ current_user.email }}
            {% endif %}
           <img class="pp" href="" width="64" height="64">
        </div>
    </header>
    <div class="main">
        {% block main %}{% endblock %}
    </div>
    <footer>
        <div class="left-footer">
          <p class="footer-p">
            Project made by:<br>
            Saumitra Lohokare<br>
            Kaesi Manakkal
          </p>
        </div>
      </footer>
</body>
</html>
