{% extends "base.html" %}

{% block title %} 
    Add Assignment
{% endblock %}

{% block main %}
<div class="main">
    <div class="search-bar-container">
        <form method="POST">
            <input class="search-bar" type="text" name="search" size="100">
            <input class="search-button" type="submit" value="Search">
        </form>
    </div>
</br>
    <div class="assignments">
        {% if results %}
        {% autoescape false %}
            <h3 id="results-title">Results</h3>
            {{ results }}
        {% endautoescape %}
        {% endif %}
        <!-- Sample card to show assignment 
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div>
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div>
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div> -->
    </div>
</div>
{% endblock %}