{% extends "base.html" %}

{% block title %} 
    Add Assignment
{% endblock %}

{% block main %}
<div class="main">
    <div class="search-bar-container">
        <input class="search-bar" type="text" size="100">
        <input class="search-button" type="button" value="Search">
    </div>
    <div class="assignments">
        <h3 id="results-title">Results</h3>
        <!-- Sample card to show assignment -->
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div>
        <!--  -->
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div>
        <div class="assignment-card">
            <span><a href=""><h4 class="assignment-card-link">Name</h6></a></span><br>
            <span>Class</span><br>
            <span>Instructor</span><br>
            <span>Submission Date</span><br>
        </div>
        <!--  -->
    </div>
</div>
{% endblock %}