<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="static/signin.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/footer.css">
    <title>BU Assignments</title>
</head>
<body>
    <header>
        <div class="left-header">
          <h1>
            BU Assignments
          </h1>
        </div>
        <div class="right-header">
          <img class="pp" href="" width="64" height="64">
        </div>
    </header>
    <div class="main">
        <form class="signup-container" method="POST">
            <h3>Sign In</h3>
            <label for="email">Enter College Email</label>
            <div class="email-field">
                <input type="text" name="email" id="email" size="30">
                <div class="email-selector">@binghamton.edu</div>
            </div>
            <label for="password">Enter Password</label>
            <div class="password-field">
                <input type="password" name="password" id="password" size="30">
            </div>
            <div class="submit">
                <input type="submit" value="Continue">
            </div>
        </form>
    </div>
    <footer>
        <div class="left-footer">
          <p class="footer-p">
            Project made by:<br>
            Saumitra Lohokare<br>
            Kaesi Manakkal
          </p>
        </div>
      </footer>
</body>
</html>